#botonNavbar:hover{
  background-color: #ecebeb; 
  color: rgb(35, 39, 38);             
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transform: translateY(-3px); 
  transition: all 0.3s ease;
  border-radius: 10px;
}

.hero {
  position: relative;
  width: calc(100% - 20px); 
  height: calc(100% - 20px); 
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* efecto de flote bonito */
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cardBeneficios:hover {
  background-color: #5db56a; 
  color: white;             
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
  transition: all 0.3s ease;
}

.card {
  transition: all 0.3s ease;
}

/* Seccion Carrusel de proyectos */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2%;
  color: white;
}

.carousel-item {
  height: 400px; 
}

.carousel-item video {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  border-radius: 12px;
}

/*Parte de testimonios*/
#cardT:hover {
  background-color: #dbdbdb; 
  color: rgb(55, 59, 58);             
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
  transition: all 0.3s ease;
}